<div class="background row">

  <div class="form-container row col-xs-5 col-xs-offset-7">
    <h1 class="row"><%= pageTitle %></h1>
    <span class="errors row transparent hidden col-xs-8 col-xs-offset-2"></span>
    <div class="col-xs-6 col-xs-offset-3">
      <form class="form-horizontal sign-in">
        <div class="form-group row">
          <input type="text"
                name="user[username]"
                id="user_username"
                class="form-control"
                placeholder="Username">
        </div>

        <div class="form-group">
           <input type="password"
                  name="user[password]"
                  id="user_password"
                  class="form-control"
                  placeholder="Password">
        </div>

        <% if (pageTitle === 'Sign up') { %>
        <div class="form-group">
           <input type="password"
                  name="user[password_confirmation]"
                  id="user_password_confirmation"
                  class="form-control"
                  placeholder="Confirm password">
        </div>
        <% } %>

        <input type="submit" class="btn btn-default center-block" value="<%= pageTitle %>">
      </form>
    </div
  </div
</div>
