
<li>
  <span class='header'>Add</span>
</li>
<li class='divider'></li>
<li>
  <a class='new-photo' href='#'>
    <b>New Photo...</b>
    <span class='add-item-description'>
      The point is to click on this.
    </span>
  </a>
</li>
