<li>
  <div class="error-container"></div>
</li>
<li>
  <form class="create-photo" enctype="multipart/form-data">
    <li class="map-container">
      <div id="dropdown-map-canvas"></div>
    </li>

    <li>
    <label for="photo">File</label>
    <input type="file"
          name="photo"
          id="photo">
    </li>

    <li>
    <label for="caption">Caption</label>
    <input type="text"
          name="caption"
          id="caption"
          value='<%= photo.escape('caption') %>'
          placeholder="enter a caption..">
    </li>
    <li>
      <label for="location">Location</label>
      <input type="text"
            name="location"
            id="location"
            placeholder="enter a location..">
    </li>

    <li>
    <label for="visibility">Visibility: </label>
    <input type="radio"
          name="visibility"
          id="visibility"
          value='public'
          checked>Public
    <input type="radio"
          name="visibility"
          id="visibility"
          value='followers'>Followers only
    <input type="radio"
          name="visibility"
          id="visibility"
          value='private'>Private (only me)
    </li>

    <li>
      <input type="submit" value="Geofotr my photo!" class='btn btn-success'>
    </li>
  </form>
</li>
