<div class="row">
  <div class="col-md-2 col-md-offset-5">
  <h1>Sign Up</h1>
  <form class="form-horizontal sign-up">
    <div class="form-group">
      <input type="text"
        name="user[username]"
        id="user_username"
        class="form-control"
        placeholder="Username"
        value="<%= user.username %>">
    </div>

    <div class="form-group">
      <input type="password"
        name="user[password]"
        id="user_password"
        class="form-control"
        placeholder="Password">
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-default" value="Sign up">
      </div>
    </div>
  </form>

  </div>
</div>
