<div class="background row">

  <div class="form-container">
    <div class="row">
      <h1 class="col-md-2 col-md-offset-5">Sign In</h1>
    </div>
    <div class="col-md-2 col-md-offset-5">

      <form class="form-horizontal sign-in">
        <div class="form-group">
          <input type="text"
                name="user[username]"
                id="user_username"
                class="form-control"
                placeholder="Username">
        </div>

        <div class="form-group">
           <input type="password"
                  name="user[password]"
                  id="user_password"
                  class="form-control"
                  placeholder="Password">
        </div>

        <div class="form-group">
          <input type="submit" class="btn btn-default center-block" value="Sign in">
        </div>
      </form>

    </div>
  </div
</div>
