<div class="splash-container row col-xs-5 col-xs-offset-7">
  <h1>Welcome to Geofotr!</h1>
  <section class="row site-description">
    Share and geotag your photos!
  </section>
  <div class="top row">
    <span class="explore-photos btn-lg btn-success col-xs-offset-3 col-xs-6">Explore public photos</span>
    <span id="explore-map-splash" class="explore-map btn-lg btn-success col-xs-offset-3 col-xs-6">Explore public map</span>
  </div>

  <div class="bottom row">
    <span id="signin-guest-splash" class="signin-guest btn btn-success col-xs-offset-4 col-xs-4">Sign in as guest</span>
    <span id="signin-splash" class="signin btn btn-default col-xs-offset-4 col-xs-4">Sign in</span>
    <span id="signup-splash" class="signup btn btn-default col-xs-offset-4 col-xs-4">Sign up</span>
  </div>
  <section class="row site-description-secondary">
    Sign in to geofotr your photos, or just explore the public content!
  </section>
</div>
