<% if (Geofotr.CURRENT_USER) { %>
  <% if (like.isNew()) { %>
    <span class="like-photo glyphicon glyphicon-heart-empty"></span>
  <% } else { %>
    <span class="unlike-photo glyphicon glyphicon-heart"></span>
  <% } %>
<% } %>

