<h1>
  <% if (user.id != Geofotr.CURRENT_USER_ID) { %>
    <%= user.escape('username') + "'s photos" %>
      <% } else { %>
    <%= "Your photos" %>
  <% } %>
</h1>

<div class="subscription-container"></div>

<ul class="photo-list list-group centered" ></ul>
