<div class="row comment-text">
  <span class="body col-sm-7">
    <p><%= comment.escape('body') %></p>
  </span>

  <div class="col-sm-5">
    <div class="row">
      <span class="username col-sm-6"><%= comment.escape('user') %></span>
      <span class="timestamp col-sm-6"><%= comment.escape('time_ago') %></span>
    </div>

    <div class="row">
      <span class="col-sm-offset-5 col-sm-1"></span>
      <% if (Geofotr.CURRENT_USER_ID == comment.get('user_id')) { %>
        <span class="edit-comment col-sm-2">Edit</span>
      <% } %>

      <% if (Geofotr.CURRENT_USER_ID == photo.get('user_id') || Geofotr.CURRENT_USER_ID == comment.get('user_id')) { %>
        <span class="remove-comment col-sm-1">X</span>
      <% } %>
    </div>

  </div>
</div>

<div class="row">
  <div class="comment-remove-confirm transparent hidden"></div>
</div>




