<div class="row comment-text">
  <span class="col-sm-8"><%= comment.escape('body') %></span>
  <span class="col-sm-2"><%= comment.escape('user') %></span>
  <span class="col-sm-2"><%= comment.escape('time_ago') %></span>
</div>

<% if (Geofotr.CURRENT_USER_ID == comment.get('user_id')) { %>
  <button class="edit-comment">Edit</button>
<% } %>

<% if (Geofotr.CURRENT_USER_ID == photo.get('user_id') || Geofotr.CURRENT_USER_ID == comment.get('user_id')) { %>
  <button class="destroy-comment">X</button>
<% } %>


