<form class="update-photo">

<label for="caption">Caption</label>
<input type="text"
      name="caption"
      id="caption"
      value='<%= photo.escape('caption') %>'
      placeholder="optional"><br>

<label for="visibility">Visibility: </label>
<input type="radio"
      name="visibility"
      id="visibility"
      value='public'
      checked>Public
<input type="radio"
      name="visibility"
      id="visibility"
      value='followers'>Followers only
<input type="radio"
      name="visibility"
      id="visibility"
      value='private'>Private (only me)<br>

<label for="latitude">Latitude (optional)</label>
<input type="number"
      step="any"
      name="latitude"
      id="latitude"
      placeholder="optional"
      value='<%= photo.escape('latitude') %>'><br>

<label for="longitude">Longitude</label>
<input type="number"
      step="any"
      name="longitude"
      id="longitude"
      placeholder="optional"
      value='<%= photo.escape('longitude') %>'><br>

<input type="submit" value="Update photo!">
</form>
