
<figure class="original-photo">
  <figcaption class="photo-show"><%= photo.escape('caption') %></figcaption>
  <%= photo.get('originalUrl') %>
  <div class="show-controls">
    <span class="info">(right-click image to access original)</span>
    <span class="back">Back</span>
  </div>
</figure>
