<span class="by">shared by</span>
<span class="username"><%= photo.escape('user') %></span>
<span class="view-user">View user&#39s photos</span>

<% if (photo.get('user_id') != Geofotr.CURRENT_USER_ID) { %>
  <% if (photo.currentUserSubscription.isNew()) { %>
    <span class="follow-user">Follow user</span>
  <% } else { %>
    <span class="unfollow-user">Unfollow user</span>
  <% } %>
<% } %>

<div class="photo-buttons">
  <% if (Geofotr.CURRENT_USER === photo.get('user')) { %>
    <span class="edit-photo">Edit</span>
    <span class="remove-photo">Remove</span>
  <% } %>
  <span class="view-photo">View full size</span>

  <% if (numberOfComments) { %>
    <span class="comment-photo">Comments (<%=numberOfComments %>)</span>
  <% } else if (Geofotr.CURRENT_USER) { %>
    <span class="comment-photo">Add a comment</span>
  <% } %>

  <span class="like-button"></span>


  <div class="like-count">
      <div class="count"><%= photo.get('likeCount') %></div>
  </div>

</div>

<div class="buttons-background"></div>


