<span class="username"><%= photo.escape('user') %></span>

<div class="photo-buttons">
    <span class="view-photo">View full size</span>
    <span class="comment-photo">Comments</span>

  <% if (Geofotr.CURRENT_USER === photo.get('user')) { %>
    <span class="edit-photo">Edit</span>
    <span class="remove-photo">Remove</span>
  <% } %>

  <% if (Geofotr.CURRENT_USER) { %>
    <span class="like-button"></span>
  <% } %>

</div>

<div class="like-count">
    <div class="glyphicon glyphicon-heart"/>
    <span class="count"><%= photo.get('likeCount') %></span>
</div>

