<figure class="photo">
  <%= photo.get('feedUrl') %>
  <figcaption><%= photo.escape('caption') %></figcaption>

  <div class="photo-overlay">

  </div>

</figure>

<div class="photo-edit-container transparent"></div>
<div class="comments-container transparent"></div>
<div class="remove-confirm transparent hidden"></div>


