<% if (Geofotr.CURRENT_USER && user.get('subscriptionId') != undefined) { %>
  <span class="unfollow">Unfollow user</span>
<% } else if (Geofotr.CURRENT_USER && (user.id != Geofotr.CURRENT_USER_ID)) { %>
  <span class="follow">Follow user</span>
<% } %>
