<% if (Geofotr.CURRENT_USER && user.get('subscriptionId') != undefined) { %>
  <button class="unfollow">Unfollow user</button>
<% } else if (Geofotr.CURRENT_USER && (user.id != Geofotr.CURRENT_USER_ID)) { %>
  <button class="follow">Follow user</button>
<% } %>
