/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$lightgrey: #ccc;
$darkergrey: darken($lightgrey, 20%);
$green: rgb(78, 83, 52);

$dialog-font-size: 16px;
$form-background: #eee;

$smallButtonFadeTime: .07s;

html, body, #content, #map-canvas, #dropdown-map-canvas {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

//splash/signin/signup pages

.splash-page {
  height: 100%;
  width: 100%;
}

.splash-page btn {
  // margin: auto
}

.splash-page .form-container {
  position: relative;
  top: 34%;
}

.splash-page h1 {
  text-align: center;
  color: white;
  text-shadow: 3px 2px 7px black;
}

.background {
  background: url("earth.jpg") no-repeat 30% 50% fixed;
  background-color: black;
  background-size: 50%;
  width: 100%;
  height: 100%;
  margin: 0;
}

.splash-container {
  height: 100%;
}
.splash-container .top{
  position: relative;
  top: 32%;
}

.splash-container .bottom{
  position: relative;
  top: 38%;
}

.splash-container * {
  display: block;
  text-align: center;
}

.splash-container span{
  cursor: pointer; cursor: hand;
}

#explore-map-splash {
  position: relative;
  top: 10px;
}

#signin-splash {
  position: relative;
  top: 10px;
}

#signup-splash {
  position: relative;
  top: 20px;
}

.splash-page .errors {
  text-align: center;
  background: black;
  border-radius: 5px;
  border: 1px solid white;
  color: red;
  opacity: 1;
  transition: opacity .3s ease;
  margin-bottom: 10px;
}

.splash-page .errors.transparent {
  opacity: 0;
}

.splash-page .errors > span {
  margin: 5px;
}

//navbar

.navbar-brand img {
  height: 50px;
  top: -15px;
  position: relative;
}

// /* navbar */
// .navbar-default {
//     background-color: GreenYellow;
//     border-color: $green;
// }
// /* title */
// .navbar-default .navbar-brand {
//     color: #777;
// }
// .navbar-default .navbar-brand:hover,
// .navbar-default .navbar-brand:focus {
//     color: #5E5E5E;
// }
// /* link */
// .navbar-default .navbar-nav > li > a {
//     color: #777;
// }
// .navbar-default .navbar-nav > li > a:hover,
// .navbar-default .navbar-nav > li > a:focus {
//     color: #333;
// }
// .navbar-default .navbar-nav > .active > a,
// .navbar-default .navbar-nav > .active > a:hover,
// .navbar-default .navbar-nav > .active > a:focus {
//     color: #555;
//     background-color: #E7E7E7;
// }
// .navbar-default .navbar-nav > .open > a,
// .navbar-default .navbar-nav > .open > a:hover,
// .navbar-default .navbar-nav > .open > a:focus {
//     color: #555;
//     background-color: #D5D5D5;
// }
// /* caret */
// .navbar-default .navbar-nav > .dropdown > a .caret {
//     border-top-color: #777;
//     border-bottom-color: #777;
// }
// .navbar-default .navbar-nav > .dropdown > a:hover .caret,
// .navbar-default .navbar-nav > .dropdown > a:focus .caret {
//     border-top-color: #333;
//     border-bottom-color: #333;
// }
// .navbar-default .navbar-nav > .open > a .caret,
// .navbar-default .navbar-nav > .open > a:hover .caret,
// .navbar-default .navbar-nav > .open > a:focus .caret {
//     border-top-color: #555;
//     border-bottom-color: #555;
// }
// /* mobile version */
// .navbar-default .navbar-toggle {
//     border-color: #DDD;
// }
// .navbar-default .navbar-toggle:hover,
// .navbar-default .navbar-toggle:focus {
//     background-color: #DDD;
// }
// .navbar-default .navbar-toggle .icon-bar {
//     background-color: #CCC;
// }
// @media (max-width: 767px) {
//     .navbar-default .navbar-nav .open .dropdown-menu > li > a {
//         color: #777;
//     }
//     .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
//     .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
//         color: #333;
//     }
// }

// #content
#map-logo {
  background: url("geofotr-logo-edit.png") no-repeat center center fixed;//
  background-color: white;
  background-size: cover
}

#map-canvas {
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
}
body {
  // position: fixed;
  // bottom: 0;
  // padding: 0 0 30px 0;
}

#content {
  overflow: scroll;
  // background-color: GreenYellow;
}

//main map page
#map-canvas {
  opacity: 100;
  transition: opacity 1.5s ease;
}

#map-canvas.transparent {
  opacity: 0;
}

nav.navbar.navbar-default {
  margin: 0;
}

//photo show page
.original-photo img{
  max-width: 100%;
  max-height: 100%;
  background: black;
  border: 10px solid black;
  margin: 0 auto;
  display: block;
}

figure.original-photo {
  position:relative;
}

figcaption.photo-show {
  position: absolute;
  right: 44px;
  bottom: 39px;
  font-weight: bold;
  color: red;
  font-size: 24px;
  margin: 0;
  padding: 0;
  text-shadow: 1.5px 1px 1px rgba(0, 0, 0, 0.71);
  transition: opacity 0.35s ease;
  z-index: 1;
  opacity: 1;
}
img:hover + figcaption.photo-show{
  color: yellow;
  opacity: 1;
}

figcaption.photo-show:hover {
  color: green
}
//navbar
.navbar-highlight {
  background: #E6E6E6;
}

.geofotr-logo {
  background: url("geofotr-logo-navbar.png") no-repeat; //center center fixed;
  position: fixed;
  top: 20px;
  left: 0;

  /* Preserve aspect ratio */
  min-width: 100%;
  min-height: 100%;
}

//dropdown form
#dropdown-view .map-form {
  position: absolute;
  width: 500px;
  height: 540px;
  z-index: 1;
  background: $form-background;
  right: 0px;
  border-radius: 10px;
  opacity: 1;
  transition: opacity .35s;
}

#dropdown-view form {
  margin: 10px
}

#dropdown-view .map-form.transparent {
  opacity: 0;
}

#create-photo-dropdown div {
  width: 100%;
  height: 100%;
  }

.dropdown-map-canvas {
  width: 100%;
  height: 200px;
}

//photo feed
.photo-feed {
  width: 830px;
  margin: auto;
  position: relative;
  }

.photo-feed h1 {
  position: absolute;
  left: -201px;
  top: -16px;
}

//edit-form
.photo-edit-container {
  opacity: 1;
  transition: opacity .5s;
}

.photo-edit-container.transparent {
  opacity: 0;
}

//photo/photo-overlay

.photo-list {
  padding: 0
}

.photo-list-item {
  list-style: none;
  width: 820px;
  // border: 10px solid black;
  padding: 10px;
  margin-bottom: -8px;
  background: black;
  transition: background .35s ease;
}

//photo centering

figure.photo {
  position: relative;
  margin: auto;
  width: 100%;
}

figure.photo > img {
  margin: 0 auto;
  display: block;
}

.photo-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  bottom: 0px;
  opacity: 0;
  font-size: 24px;
  transition: opacity 0.35s ease;
}
.photo:hover .photo-overlay {
  opacity: 1;
}

.photo-overlay .photo-buttons{
  bottom: 5px;
  position: absolute;
  right: -22px;
  z-index: 1;
}

.photo-overlay .like-count{
  position: relative;
  right: 6px;
  top: 2px;
  z-index: 1;
}

.like-count > div {
  color: red;
  z-index: 1;
  }

.photo-buttons > *{
  display: inline-block;
  z-index: 1;
}

//photo caption
.photo-list figcaption {
  position: absolute;
  right: 3px;
  bottom: 38px;
  font-weight: bold;
  color: white;
  font-size: 24px;
  margin: 0;
  padding: 0;
  text-shadow: 1.5px 1px 1px rgba(0, 0, 0, 0.71);
  transition: opacity 0.35s ease;
  opacity: 0;
  z-index: 1;
}
.photo:hover figcaption {
  opacity: 1;
}
//photo links
.photo-buttons span:not(.username), .photo-overlay > div > span.view-user {
  font-weight: bold;
  color: #eee;
  font-size: 16px;
  text-shadow: 1.5px 1px 1px rgba(0, 0, 0, 0.71);
  margin: 3px;
  padding: 3px;
  border-radius: 5px;
  opacity: 100;
  cursor: pointer;
  cursor: hand;
  transition: color $smallButtonFadeTime ease;
  z-index: 1;
}

.photo-overlay > div > span.view-user {
  position: absolute;
  left: -3px;
  bottom: 6px;
  z-index: 1;
}

.photo-buttons span:not(.username):hover, .photo-overlay > div > span.view-user:hover {
  color: white;
}

.photo-buttons div.count {
  display: inline;
  position: relative;
  bottom: 1px;
  left: -20px;
  font-size: 20px;
  font-weight: bold;
  transition: color $smallButtonFadeTime ease;
  z-index: 1;
}

.like-button, .unlike-button {

}

.glyphicon-heart-empty:before, .glyphicon-heart:before {
  font-size: 22px;
  color: #D00;
  position: relative;
  left: -16px;
  bottom: -3px;
  text-shadow: 0px 0px 0px #000;
  transition: color 0.2s ease;
  transition: text-shadow $smallButtonFadeTime ease;
  z-index: 1;
}
.glyphicon-heart-empty:hover:before, .glyphicon-heart:hover:before {
  color: red;
  text-shadow: 0px 1px 24px #F00;
}
//extra span created for like button subview
.photo-list-item span.inner-like-span {
  border: none;
  margin: 0;
  padding: 0;
}

//photo username display

.photo-overlay > div > span.username {
  position: absolute;
  left: 3px;
  bottom: 35px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  cursor: hand;
  z-index: 1;
}

.photo-overlay > div > span.by {
position: absolute;
left: 5px;
bottom: 61px;
font-size: 12px;
color: white;
z-index: 1;
}

.photo-overlay-view {
  // position: relative;
}

.buttons-background {
  height: 78px;
  background: black;
  bottom: 0px;
  position: absolute;
  width: 806px;
  opacity: .4;
  z-index: 0;
  margin: 5px;
  padding: 4px;
  border-radius: 5px;
  left: -8px;

}

//comments
.photo-comments {
  padding-left: 0;

  border-radius: 5px;
  position: relative;
  top: 25px;
}

.photo-comments.border {
  border: 1px solid white;
}

.comments-container {
  transition: opacity 0.35s ease;
  opacity: 1;
  }

.comments-container.transparent {
  opacity: 0;
}

.row.comment-text {
  position: relative;
  left: 0;
  top: -20px;
}
.comment-list-item {
  // height: 1px;
  color: white;
  font-size: 16px;
}

.comment-list-item > div {
  position: relative;
}

.comment-list-item p {
  position: relative;
  left: 5px;
  font-weight: bold;
  margin: 0px;
}

.comment-list-item span.username {

}

.comment-list-item span.timestamp {
  color: grey;
  font-size: 14px;
}

textarea {
  resize: none;
  font-weight: bold;
  font-size: 16px;
  position: relative;
  left: 188px;
  top: 13px;
  background: $form-background;
  color: black;
  border: 1px solid white;
  border-radius: 5px;
}

span.edit-comment, span.remove-comment, form > span {
  font-weight: bold;

  text-align: center;
  font-size: 16px;
  text-shadow: 1.5px 1px 1px rgba(0, 0, 0, 0.71);
  margin: 3px;
  padding: 3px;
  // border-radius: 5px;
  opacity: 100;
  cursor: pointer;
  cursor: hand;
  position: relative;
}

.create-comment {
  height: 69px
}

.create-comment > span.submit {
  color: #eee;
  left: 71px;
  bottom: -33px;
  transition: color $smallButtonFadeTime ease;
  }

span.submit.update-comment {
  right: -199px;
  bottom: -12px;
}

span.cancel-update-comment {
  left: 203px;
  bottom: -12px;
}


.update-comment textarea {
  left: 0;
  }
form > span.submit:hover {
  color: white;
}
span.edit-comment {
  color: #eee;
  left: -3px;
  bottom: 9px;
  transition: color $smallButtonFadeTime ease;
}

span.remove-comment {
  color: #D00;
  bottom: 9px;
  transition: color $smallButtonFadeTime ease;
}

span.edit-comment:hover {
  color: #fff;
}

span.remove-comment:hover {
  color: #F00;
}

//photo remove confirmation
.remove-confirm {
  height: 35px;
  transition: opacity .35s ease;
  opacity: 1;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 10px 10px 0px 10px;
  }

.remove-confirm.transparent {
  opacity: 0;
  background: black;
}

.remove-confirm-view {
  position: relative;
  height: 100%;
  background: black;
}

.remove-confirm-view > span.text {
  position: absolute;
  left: 264px;
  bottom: 3px;
}

.remove-confirm span.confirm-remove-photo {
  position: absolute;
  right: -13px;
  bottom: -6px;
  font-weight: bold;
  color: #E00;
  text-shadow: 1.5px 1px 1px rgba(0, 0, 0, 0.71);
  margin: 3px;
  padding: 5px;
  border: 1px solid red;
  border-radius: 5px;
  opacity: 1;
  cursor: pointer;
  cursor: hand;
}
.remove-confirm span.confirm-remove-photo:hover {
  color: #F00;
}

.remove-confirm span.cancel-remove-photo {
  position: absolute;
  right: 175px;
  bottom: -6px;
  font-weight: bold;
  color: #eee;
  text-shadow: 1.5px 1px 1px rgba(0, 0, 0, 0.71);
  margin: 3px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
  opacity: 1;
  cursor: pointer;
  cursor: hand;
}

.remove-confirm span.cancel-remove-photo:hover {
  color: white;
}

//comment remove confirmation
.comment-remove-view {
  position: relative;
  height: 25px;
}

.comment-remove-confirm {
  height: 35px;
  transition: opacity .35s ease;
  opacity: 1;
  font-size: 16px;
  font-weight: bold;
  color: white;
  // padding: 10px 10px 0px 10px;
  background: black;
  position: relative;
  bottom: 8px;
  margin: 0;
  }

.comment-remove-confirm.transparent {
  opacity: 0;
  background: black;
}

.comment-remove-confirm {
  // position: relative;
  height: 100%;
  background: black;

}

.comment-remove-view > span.text {
  position: absolute;
  left: 213px;
  bottom: 3px;
}

.comment-remove-confirm span.confirm-remove-comment{
  position: absolute;
  right: 5px;
  bottom: -6px;

  font-weight: bold;
  color: #E00;
  text-shadow: 1.5px 1px 1px rgba(0, 0, 0, 0.71);
  margin: 3px;
  padding: 5px;
  border: 1px solid red;
  border-radius: 5px;
  opacity: 1;
  cursor: pointer;
  cursor: hand;
}
.comment-remove-confirm span.confirm-remove-comment:hover {
  color: #F00;
}

.comment-remove-confirm span.cancel-remove-comment {
  position: absolute;
  right: 221px;
  bottom: -6px;
  font-weight: bold;
  color: #eee;
  background: black;
  text-shadow: 1.5px 1px 1px rgba(0, 0, 0, 0.71);
  margin: 3px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
  opacity: 1;
  cursor: pointer;
  cursor: hand;
}

.comment-remove-confirm span.cancel-remove-comment:hover {
  color: white;
}

//edit form

.photo-edit-container .dropdown-map-canvas {
  width: 500px;
  margin: 10px auto;
  }

.photo-edit-container > div {
  color: white;
}

.photo-list-item.flash-success {
  background: #47DB67;
}
