/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$lightgrey: #ccc;
$darkergrey: darken($lightgrey, 20%);

body {
  height: 800px;
  width: 600px;
}

html, body, #content, #map-canvas, #dropdown-map-canvas {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

//main map page
#map-canvas {
  opacity: 100;
  transition: opacity 1s;
}

#map-canvas.transparent {
  opacity: 0;
}

nav.navbar.navbar-default {
  margin: 0;
}

//dropdown form
#dropdown-view .map-form {
  position: absolute;
  width: 500px;
  height: 520px;
  z-index: 1;
  background: #eee;
  right: 0px;
  border-radius: 10px;
  opacity: 100;
  transition: opacity .35s;
}

#dropdown-view form {
  margin: 10px
}

#dropdown-view .map-form.transparent {
  opacity: 0;
}

#create-photo-dropdown div {
  width: 100%;
  height: 100%;
  }

.dropdown-map-canvas {
  width: 100%;
  height: 200px;
}

//photo feed
#content .photo-feed {
  width: 830px;
  margin: auto;
  }

#content figure {
  margin: auto;
}

//edit-form
.photo-edit-container {
  opacity: 1;
  transition: opacity .35s;
}

.photo-edit-container.transparent {
  opacity: 0;
}

//photo/photo-overlay

.photo-list > li {
  position: relative;
  }
.photo-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  bottom: 0px;
  opacity: 0;
  transition: opacity 0.35s ease;
}
.photo-overlay:hover {
  opacity: 100;
}


.photo-overlay .photo-buttons{
  bottom: 80px;
  position: absolute;
  right: 0px;
}

.photo-buttons > *{
  display: inline-block;
}
